html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

#root {
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("backgroung.jpg");
  background-size: cover;
  background-position: center;
}
